<head>
    <link rel="stylesheet" href="~/css/winlose.css" />
</head>
<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <div>
            <h1 class="text-center mt-5 mb-3">Congratulations! You won!</h1>
        </div>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col text-center">
        <a href="/restart">
            <button class="btn btn-outline-success">Restart?</button>
        </a>
    </div>
    <div class="col"></div>
</div>